@model Book

<h2>Delete Book</h2>

<div class="alert alert-danger">
    <h4>Are you sure you want to delete this book?</h4>
    <p>This action cannot be undone.</p>
</div>

<div class="card">
    <div class="card-header card-header-booknamo">
        <h5>Book to Delete</h5>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Title:</dt>
            <dd class="col-sm-9">@Model.Title</dd>

            <dt class="col-sm-3">Author:</dt>
            <dd class="col-sm-9">@Model.Author</dd>

            <dt class="col-sm-3">ISBN:</dt>
            <dd class="col-sm-9">@Model.ISBN</dd>

            <dt class="col-sm-3">Genre:</dt>
            <dd class="col-sm-9">@Model.Genre</dd>

            <dt class="col-sm-3">Publication Year:</dt>
            <dd class="col-sm-9">@Model.PublicationYear</dd>
        </dl>
    </div>
    <div class="card-footer">
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <a asp-action="Index" class="btn btn-secondary-booknamo">Cancel</a>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
